<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/">
  <title>EcoHub - </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg px-5"
    style="background: linear-gradient(to right, #000000, #0f9b0f); font-family: 'Cairo', sans-serif;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="font-size: 38px; font-family: 'Cairo', sans-serif; font-weight: 900">
        <img src="{{ url_for('static', filename='images/ecohub-nav-logo.png') }}" alt="nav-logo" width="55" height="55"
          class="d-inline-block align-text-center" style="position: relative; bottom: 4px">
        <span style="color: white;">EcoHub</span>
      </a>
      <div class="collapse navbar-collapse" id="navbarSpportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="font-size: 20px;">
            <a class="nav-link" id="home" aria-current="page" href="/" style="color: white;">Home</a>
          </li>
          <li class="nav-item" style="font-size: 20px;">
            <a id="ranking" class="nav-link" href="/ranking" style="color: white;">Ranking</a>
          </li>
          <li class="nav-item" style="font-size: 20px;">
            <a class="nav-link" href="/" style="color: white;">Premiação</a>
          </li>
          <li class="nav-item" style="font-size: 20px;">
            <a id="tips" class="nav-link" href="/tips" style="color: #c3ea27; font-weight: 600;">Dicas</a>
          </li>
          {% if token %}
          <li class="nav-item" style="font-size: 20px; opacity:50;"> <span class="nav-link" style="color: white;">Olá,
              {{token.username}} :)</span></li>
          <li class="nav-item" style="font-size: 20px; opacity:50;">
            <a class="nav-link" href="/logout" style=" color: red">Sair</a>
          </li>
          {% else %}
          <li class="nav-item" style="font-size: 20px;">
            <a id="login" class="nav-link" href="/register" style="color: white;">Login/Cadastro</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Procurar dicas" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit" style="font-weight: 700">Procurar</button>
        </form>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg px-5 bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="font-size: 20px;">
            <div style="color: greenyellow; font-weight: 600;">
                <a class="nav-link" href="" style="color: greenyellow; font-weight: 600; display: inline">{{ garbage.type_of_garbage.name }}</a> > {{ garbage.name }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="card mb-3" id="garbage-card">
    <div class="row">
      <div class="col">
            <img src="{{ url_for('static', filename='images/wallpaper-pet.png') }}" class="card-img-top" style="max-height: 480px">
      </div>
      <div class="col">
        <h1 class="card-title" style="text-align:center; margin-top:15px; height:'card-img-top'; max-height:480px;">{{ garbage.name }}</h1>
        <p class="card-text" style="font-size:20px;">
          {{ garbage.description }}
          <br><br>
        </p>
      </div>
    </div>
    <div class="card-body">
      <p>
        <div style="font-size: 30px; height: 25px">Dicas</div>
      </p>
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo">
            <h6>Recifibras Comércio de Reciclagem Blumenau - 03/05/2022 - 66 upvotes <span
                class="badge bg-success">Colaborativa</span></h6>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
            plugin adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            <h6>Gustavo Voltolini - 01/05/2022 - 82 upvotes <span class="badge bg-warning">Top colaboradores</span></h6>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseSix">
            <h6>Rafael Mendes - 01/02/2022 - 0 upvotes <span class="badge bg-secondary">Novo</span></h6>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingSix">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
